eigen*/**
eigen*
build/*
dist/*
var/*
temp/*
**.pyc
**.log
**.csv
**.db
irspack.egg-info/*
**.so
.eggs/
.python-version
.vscode
.clangd
tmp
*.pkl
compile_commands.json
stubs/*
settings.json
**.ipynb_checkpoints**
coverage_result
Pipfile
Pipfile.lock
pybind11
docs/build/
docs/source/api_reference/
