name: Full Test & Upload coverage
on: [push, pull_request]
jobs:
  run_pytest_upload_coverage:
    runs-on: ubuntu-latest
    env:
      OS: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
      - name: Build irspack (ubuntu)
        run: |
          pip install --upgrade pip
          sudo apt-get install lcov
          CXXFLAGS="-O0 -g -coverage" pip install -e .
      - name: Run pytest
        run: |
          pip install pytest pytest-mock pytest-cov
          pip install lightfm jaxlib jax dm-haiku optax
          pytest --cov=./src/irspack tests/
      - name: Generate coverage (ubuntu)
        run: |
          coverage xml
          lcov -d `pwd` -c -o coverage.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml,./coverage.info
          name: codecov-umbrella
          fail_ci_if_error: true
          verbose: true
          env_vars: OS,PYTHON
